.img-head{ display: flex;
    align-self:center;
}
.head{
    background-color: rgb(25,25,25);
}

.mar{
    color: white;
}

.button{
    display: flex;
    border: 0ch;
    
}
h1{
    color: white;

}


.logo{
    background-color: rgb(25,25,25);
}
   







.宗旨:hover{
    background-color:brown ;
   
    
}

.加入我們:hover{
    background-color:brown ;
    
}
.何謂國社:hover{
    background-color:brown ;
    
}
.資料庫:hover{
    background-color:brown ;
    
}
.問答:hover{
    background-color:brown ;
    
}
.郵寄我們:hover{
    background-color:brown ;
    
}


.select{
    color: red;
}
button{
     background-color:red ;
     border-color:red;
    
}



    

