.img-head{ display: flex;
    align-self:center;
}
.head{
    background-color: rgb(25,25,25);
}

.mar{
    color: white;
}

.button{
    display: flex;
    border: 0ch;
    
}
h1{
    color: white;

}


.logo{
    background-color: rgb(25,25,25);
}
   

marquee
{
color: aliceblue;
}

b{
    color:black ;
}

.title{
    color: aliceblue;
    
    
}
.文章{
    font-size: 0.35cm;
}
.圖片{
    font-size: 0.35cm;
}
.影片{
    font-size: 0.35cm;
}
.新聞資料{
    font-size: 0.35cm;
}

.宗旨:hover{
    background-color:gray ;
   
    
}

.加入我們:hover{
    background-color:gray ;
    
}
.何謂國社:hover{
    background-color:gray ;
    
}
.資料庫:hover{
    background-color:gray;
    
}
.問答:hover{
    background-color:gray ;
    
}
.郵寄我們:hover{
    background-color:gray ;
    
}





    

